@import 'tailwindcss';

:root {
  --bg-color: #edf1fa;
  --primary-color: #1b55e2;
  --dark-primary-color: #0f2f7c;
  --disabled-color: #636364;
  --success-color: #8dbf42;
  --error-color: #e21b1b;
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-color:hover {
  background-color: var(--bg-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-blue-primary {
  color: var(--primary-color);
}

.disabled-color {
  color: var(--disabled-color);
}

.border-primary:focus {
  border-color: var(--primary-color);
}

/* src/Sidebar.css */
.sidebar-container {
  height: 100vh; /* Mengatur tinggi sidebar menjadi setinggi layar */
  overflow-y: auto; /* Mengizinkan scrolling jika konten melebihi tinggi */
}

/* Gaya untuk scrollbar di WebKit (Chrome, Safari, Edge, Opera) */
.sidebar-container::-webkit-scrollbar {
  width: 4px; /* Lebar scrollbar */
}

.sidebar-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna latar scrollbar */
}

.sidebar-container::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* Warna thumb scrollbar */
  border-radius: 4px; /* Radius sudut thumb scrollbar */
}

.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna thumb scrollbar saat dihover */
}

/* Gaya untuk scrollbar di Firefox */
.sidebar-container {
  scrollbar-width: thin; /* Lebar scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Warna thumb dan latar scrollbar */
}

/* .scrollbar-hide::-webkit-scrollbar:hover {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */